{% extends 'base.html.twig' %}

{% block title %}Edit Diffusion{% endblock %}

{% block body %}
    <h1>Edit Diffusion</h1>

    {{ include('diffusion/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_diffusion_index') }}">back to list</a>

    {{ include('diffusion/_delete_form.html.twig') }}
{% endblock %}
